/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* navbar styling starts here */
.navbar-logo{
    text-align: left;
    padding: 5px 10px 0px 10px;
}

.nav-heading{
    text-align: right;
    padding: 10px 10px 0 25px ;
    
}


.nav-menu{
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 25px;
    
}
.nav-menu a{
    background-color: transparent;
    padding: 0px 10px;
    margin: 15px 0;
    border-radius: 5px;
}

/* navbar styling ends here */



/* profile styling starts here */

.profile{
    background-size: cover;
    background-repeat: no-repeat;
}
.profile-desc h1{
    font-size: 3.5rem;
   
}
.profile-desc p{
    text-align: center;
    
}

/* profile styling ends here */

/* about me styling starts here */

.aboutme-image{
    margin-top: 60px;
}

.aboutme-image img{
   
    height: 250px;
    width: 200px;
    
}

.aboutme-desc p{
    text-align: left;
}

/* about me styling ends here */

.contact button{

    width: 150px;
}

.contact-links{
    text-align: center;
    position: relative;
}
.media-button{
   position:absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   margin-top: 180px;
}
.contact-links .btn{
    text-align: center;
    border: none;
    border-radius: 25px;
    font-size: 32px;
    padding:5px;
    width: 50px;
    margin: 10px;
    cursor: pointer;
}


/* footer style starts */


.footer-menu{
    margin-top: 10px;

}
.footer-menu a{
    display: inline;
    margin: 10px;
}

/* footer style ends */